@import "mixins.sass"
@import "vars.sass"
    
.header 
    position: relative
    background-image: url('../../images/first-screen1.png')
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    &__nav 
        padding-top: 26px
        position: fixed
        width: 100%
        z-index: 2
        transition: all .4s ease
    
    &__title 
        +text($ff-phil, $fw-bold, $fs-100, $c-white)
        font-style: italic
        padding-top: 175px
    &__next 
        +flex(center,center,none)
        position: relative
        display: flex
        flex-direction: column
        min-height: 75px
        width: 100%
        cursor: pointer
        padding: 280px 0 20px 0
    &__next-bg 
        position: relative
        min-height: 75px
        width: 2px
        background-color: rgba(0,0,0,.1)
    &__next-line
        position: absolute
        height: 15px
        width: 2px
        top: 0
        background-color: $c-white
        transition: all .1s ease
        animation: indicator 1.5s cubic-bezier(0.29, 0.14, 0.1, 0.68) .2s infinite
    &__next-text 
        +text($ff-mon, $fw-light, $fs-36, $c-white)
    &__dots 
        display: flex
        position: absolute
        bottom: 26px
        right: 160px
    &__dots-item
        height: 15px
        width: 15px
        background-color: rgba(255, 255, 255, 0.15)
        border-radius: 50%
    &__dots-item:not(:last-child)
        margin-right: 33px
    &__dots-item.item-active
        background-color: $c-white
.nav 
    +flex(space-between, center, none)
    &__burger
        position: relative
        cursor: pointer
        display: none
        height: 25px
        width: 30px
        margin-right: 25px
    &__burger-line
        background-color: $c-white
        height: 2px
    &__burger-line:not(:last-child)
        margin-bottom: 7px
    &__burder-line:nth-child(1)
        background-color: red
    &__burder-line:nth-child(2)
        width: 10px
    &__burder-line:nth-child(3)
        width: 5px
    &__list 
        +flex(space-between, center, none)
        list-style-type: none
    &__item 
        +flex(center, center, none)
        position: relative
        height: 50px
    &__item::after
        content: ''
        position: absolute
        height: 2px
        width: 0
        background-color: #ffffff83
        bottom: 0
        left: 0
        transition: width .2s ease
    &__item:hover::after
        width: 100%
    &__item:not(:last-child) 
        margin-right: 100px
    &__link 
        +flex(center,center, none)
        +text($ff-inter, $fw-light, $fs-18, $c-white)
        letter-spacing: 0.02em
        text-decoration: none
        height: 100%
    &__btns
        display: flex
    &__profile
        margin-right: 25px
.nav_sticky
    background-color: $c-black
    backdrop-filter: blur(10px)
    padding: 25px

@keyframes indicator 
  0%,100% 
    transform: translateY(0)
  50% 
    transform: translateY(60px)

@media (max-width: 1635px) 
    .header__title 
        font-size: $fs-64
    
@media (max-width: 920px) 
    .nav__list 
        display: none
    .nav__burger
        display: block
    .header__dots
        display: none
@media (max-width: 630px) 
    .header__title 
        font-size: $fs-36

                
