@import "mixins.sass"
@import "vars.sass"

.profile-btn
    display: none
.nav__log-out 
    margin-right: 25px
.decor-line
    width: 100%
    height: 1px
    background-color: #E0E0E0
    position: relative
.arrow_active
    transform: rotate(180deg)
.footer 
    margin-top: 80px
.main 
    margin-top: 143px
    +flex(space-between,flex-start,column)
    &__header
        +flex(space-between,flex-end, row)
        margin-bottom: 50px
        width: 100%
    &__title 
        +text($ff-phil, $fw-regular, $fs-64, $c-black)
        line-height: 80%
        width: auto
        margin-top: 0
        margin-bottom: 0
    &__title::after 
        display: none
    &__restore
        +text($ff-inter, $fw-regular, $fs-16, $c-black)
        text-decoration: underline
        margin-top: 20px
    &__section-title 
        +text($ff-inter, $fw-regular, $fs-36, $c-black)
        line-height: 80%
    &__wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        width: 100%
        margin-top: 70px
        column-gap: 150px
    &__section-title
        +text($ff-inter, $fw-bold, $fs-28, $c-black) 
        margin-bottom: 30px
    &__collection-list
        +flex(normal, normal, column)
    &__collection_hidden
        transform: translateX(-600px)
        display: none
    &__collection
        +flex(space-between,center,column)
        position: relative
        margin-bottom: 10px
        transition: all .3s ease
        &::before
            content:''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 1px
            background-color: #E0E0E0

    &__collection-info
        +flex(space-between,center,row)
        width: 100%
        cursor: pointer
        margin-bottom: 10px
    &__collection-name
        +text($ff-inter, $fw-regular, $fs-22, $c-black)
        width: 100%
        cursor: pointer
    &__collection-btns
        +flex(center,center,row)
    &__delete-btn
        cursor: pointer
        +flex(center,center,row)
        position: relative
        height: 50px
        width: 50px
        background-color: $c-black
        margin-right: 35px
    &__delete-btn:hover>.main__delete-btn-line
        transform: rotateZ(180deg)
    &__delete-btn-line
        width: 20px
        height: 2px
        background-color: $c-white
        position: absolute
        transition: transform .2s ease
        &:nth-child(1)
            transform: rotate(45deg)
        &:nth-child(2)
            transform: rotate(-45deg)
    &__collection-item-list
        width: 100%
        display: none
    &__actions 
        +flex(space-between, center, row)
        width: 100%
    &__change-btn 
        +flex(center, center, row)
        height: 50px
        width: 50px
        background-color: #F4F4F4
        cursor: pointer
        &:hover 
            background-color: #ebebeb
    &__change-btn.success
        background-color: #45D776
        &:hover 
            background-color: #3dba67
    &__change-btn.success path
        fill: white
    &__collection-item-list_active
        +flex(space-between,center,column)
    &__collection-item_hidden
        transform: translateX(-600px)
        display: none
    &__collection-item
        display: none
        +flex(auto,center,row)
        width: 100%
        margin-left: 25px
        margin-bottom: 25px
        transition: transform .3s ease
    &__delete-btn-item
        margin-right: 0
    &__item-inpt 
        max-width: 170px
        width: 100%
        +text($ff-inter, $fw-regular, $fs-16, $c-black)
        padding: 5px 8px
        outline: none
        &:not(:last-child)
            margin-bottom: 10px
            +text($ff-inter, $fw-regular, $fs-16, $c-black)
    &__item-article
        margin-bottom: 10px
    &__item-info 
        +flex(flex-start, flex-start, column)
    &__item-title
        width: 230px
    &__item-title, &__item-price
        +text($ff-inter, $fw-regular, $fs-18, $c-black)
    &__item-photo 
        height: 254px
        width: 254px
        margin-right: 25px
    &__btn
        cursor: pointer
        width: 260px
        height: 60px
        +text($ff-inter,$fw-bold,$fs-18,$c-white)
        background-color: $c-black
        border: none
        position: relative
        z-index: 0
        transition: all 0.2s ease
        &:hover 
            color: $c-black
            border: 2px solid $c-black
        &::before 
            content: ''
            position: absolute
            bottom: 0
            left: 0
            background-color: $c-white
            width: 100%
            height: 0
            transition: height .3s ease
            z-index: -1
        &:hover::before 
            height: 100%
    &__add-items-content
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 20px
    &__add-items-collection-block
        +flex(flex-start,flex-start, column)
    &__add-item-block
        +flex(flex-start,flex-start, column)
    &__select
        +text($ff-inter, $fw-regular, $fs-18, $c-black)
        min-width: 250px
        width: 100%
        padding: 15px
        outline: none
        background-color: #F3F3F3
        border: 1px solid #DADADA
        appearance: none
        background: url('../../images/select-arrow.svg') no-repeat right
        background-position-x: 95%
        margin-bottom: 20px
    &__add-input
        +text($ff-inter,$fw-regular,$fs-18,$c-black)
        padding: 15px
        background-color: $c-input
        border: 1px solid #DADADA
        width: 100%
        outline: none
        &::placeholder
            +text($ff-inter,$fw-light,$fs-18,$c-placeholder)
        &:not(:last-child)
            margin-bottom: 20px
    &__custom-file-input
        +flex(flex-start, flex-start, column)
        margin-bottom: 20px
        width: 100%
    &__add-input-text
        word-break: break-all
    &__file-input
        opacity: 0
        overflow: hidden
        position: absolute
        z-index: -1
    &__label-file
        +text($ff-inter,$fw-regular,$fs-18,$c-black)
        cursor: pointer
        background-color: #f3f3f3
        border: 1px solid #DADADA
        padding: 15px
        width: 100%
    &__uploaded-file 
        +text($ff-inter,$fw-regular,$fs-16,$c-black)
        margin-top: 10px
    &__add-item-btn 
        margin-top: 10px
        width: 100%
    &__add-collection_error
        background-color: #ff5050
        border: 2px solid #ff5050
    &__error-message
        +text($ff-inter,$fw-regular,$fs-16,$c-black)
        display: none
        justify-content: center
        align-items: center
        color: #ff7272
        width: 100%
        margin-top: 15px 
    &__new-collection
        display: none
    &__users-list
        width: 100%
        margin-top: 60px
    &__user
        position: relative
        &:not(:last-child) 
            margin-bottom: 40px
        &::before 
            content: ''
            position: absolute
            height: 1px
            width: 100%
            background-color: lightgray
            left: 0
            bottom: -20px
    &__user-main
        padding: 10px 0
        margin-bottom: 20px
        cursor: pointer
        +flex(space-between,center,row)
    &__user-info-item
        +text($ff-inter,$fw-regular,$fs-22,$c-black)
        &:not(:last-child)
            margin-right: 50px
    &__orders 
        display: none
        justify-content: center
        align-content: center
        flex-direction: column
    &__user.main__users-items_active .main__orders
        display: flex
    &__orders-header 
        justify-content: flex-end
        margin-top: 60px
    &__cont 
        width: 100%
    &__info-cont
        &:not(:last-child)
            margin-bottom: 45px
    &__input 
        +text($ff-inter,$fw-regular,$fs-18,$c-black)
        padding: 15px 15px 15px 15px
        background-color: $c-input
        border: 1px solid #DADADA
        height: 60px
        outline: none
        &::placeholder
            +text($ff-inter,$fw-light,$fs-18,$c-placeholder)
    &__btn 
        cursor: pointer
        width: 260px
        height: 60px
        +text($ff-inter,$fw-bold,$fs-18,$c-white)
        background-color: $c-black
        border: none
        position: relative
        z-index: 0
        transition: all 0.2s ease
        &:hover 
            color: $c-black
            border: 2px solid $c-black
        &::before 
            content: ''
            position: absolute
            bottom: 0
            left: 0
            background-color: $c-white
            width: 100%
            height: 0
            transition: height .3s ease
            z-index: -1
        &:hover::before 
            height: 100%
    &__password-text
        margin-bottom: 10px
    &__password-view
        +text($ff-inter,$fw-light,$fs-16,$c-black)
        cursor: pointer
        &:hover
            color:#707070
    &__order
        width: 100%
        padding: 10px 15px
        transition: all .3s ease
        &:nth-child(odd)
            background-color: #F3F3F3
        &_hidden
            transform: translateX(-110%)
    &__order-item-info
        max-width: 400px
    &__order-content
        +flex(space-between,center,row)
        width: 100%
        cursor: pointer
    &__order-main
        +flex(normal,center,row)
        padding-right: 50px
        width: 100%
    &__order-info>*:not(:last-child), &__order-num
        margin-right: 40px
    &__order-num
        +text($ff-inter,$fw-light,$fs-22,$c-black)
    &__order-info-name
        +text($ff-inter,$fw-light,$fs-22,#606060)
    &__order-info-value
        +text($ff-inter,$fw-light,$fs-22,$c-black)
    &__order-info
        width: 100%
        +flex(space-between,center,row)
    &__order-info-item .main__select
        margin-bottom: 0
    &__order-btns
        +flex(center,center,row)
    &__order-delete
        cursor: pointer
        +flex(center,center,row)
        position: relative
        height: 50px
        width: 50px
        background-color: $c-black
        margin-right: 10px
    &__order-delete:hover>.main__order-delete-line
        transform: rotateZ(180deg)
    &__order-delete-line
        width: 20px
        height: 2px
        background-color: $c-white
        position: absolute
        transition: transform .2s ease
        &:nth-child(1)
            transform: rotate(45deg)
        &:nth-child(2)
            transform: rotate(-45deg)
    &__order-items
        display: none
        &_active
            display: block
            margin-top: 20px
    &__order-item
        +flex(flex-start, center, row)
        margin-left: 55px
        position: relative
        &>*:not(:last-child)
            margin-right: 30px
        &:not(:last-child)
            margin-bottom: 15px
        &::before 
            content: ''
            position: absolute 
            left: -40px
            top: 45%
            height: 1px
            width: 20px
            background-color: $c-black
    &__order-item-photo 
        height: 100px
@media (max-width: 1260px)
    .main__collection-item 
        padding-bottom: 25px
    .main__collection-item:not(:last-child)
        border-bottom: 1px solid #E0E0E0
    .main__wrapper 
        grid-template-columns: 1fr
        row-gap: 100px
        column-gap: 0
@media (max-width: 1161px)
    .main__section-title 
        font-size: $fs-22
@media (max-width: 935px)
    .main__section-title 
        font-size: $fs-18
@media (max-width: 805px)
    .main__header 
        flex-direction: column 
        align-items: flex-start
    .main__restore
        margin-top: 10px
@media (max-width: 555px)
    .main__add-items-content
        grid-template-columns: 1fr
@media (max-width: 522px)
    .main__restore
        margin: 20px auto
@media (max-width: 500px)
    .main__item-photo
        margin-bottom: 30px
    .main__collection-item 
        flex-direction: column
@media (max-width: 1215px) 
    .main__order
        align-items: flex-start
    .main__order-main
        align-items: flex-start
    .main__order-info
        flex-direction: column
        align-items: flex-start
        &>*:not(:last-child)
            margin-bottom: 15px
            margin-right: 0
    .main__order-content
        align-items: flex-start
        padding-bottom: 20px
        position: relative
        &::before 
            content: ''
            position: absolute
            bottom: 0px
            width: 400px
            left: 0
            background-color: #d3d3d380
            height: 1px
@media (max-width: 1000px) 
    .main__order-item
        flex-direction: column 
        align-items: flex-start
@media (max-width: 850px) 
    .main__section-title
        font-size: $fs-26
@media (max-width: 642px)
    .decor-line-orders
        margin-top: 25px
    .main__orders-header
        margin-top: 35px
@media (max-width: 620px)
    .main__order-info-item
        display: flex
        flex-direction: column
        &>*:first-child
            margin-bottom: 5px
    .main__order-info-name, .main__order-info-value
        font-size: $fs-18
    .main__order-num
        margin-right: 20px
        font-size: $fs-18