@import "mixins.sass"
@import "vars.sass"

body 
    overflow-x: visible 
.profile-btn
    display: none
.nav__log-out 
    margin-right: 25px

.decor-line
    width: 100%
    height: 1px
    background-color: #E0E0E0
    position: relative
    &__photo
        position: absolute
        top: -70px
        right: 0
.decor-line-orders
    margin-top: 100px
.main 
    margin-top: 143px
    +flex(space-between,flex-start,column)
    &__wrapper 
        width: 100%
        display: flex
    
    &__header
        +flex(space-between,flex-end, row)
        margin-bottom: 50px
        width: 100%
    &__title 
        +text($ff-phil, $fw-regular, $fs-64, $c-black)
        line-height: 80%
        width: auto
        margin-top: 0
        margin-bottom: 0
    &__title::after 
        display: none
    &__section-title 
        +text($ff-inter, $fw-regular, $fs-36, $c-black)
        line-height: 80%
    &__info 
        margin-top: 70px
        position: relative
    &__orders 
        +flex(center,center, column)
    &__orders-header 
        justify-content: flex-end
        margin-top: 60px
    &__orders-none
        +text($ff-inter, $fw-light, $fs-64, #E0E0E0)
        margin-bottom: 95px
        margin-top: 150px
    &__orders-btn
        +text($ff-inter, $fw-bold, $fs-16, $c-white)
        margin-bottom: 200px
        width: 300px
    &__cont 
        width: 100%
    &__info-cont
        &:not(:last-child)
            margin-bottom: 45px
    &__input 
        +text($ff-inter,$fw-regular,$fs-18,$c-black)
        padding: 15px 15px 15px 15px
        background-color: $c-input
        border: 1px solid #DADADA
        height: 60px
        outline: none
        &::placeholder
            +text($ff-inter,$fw-light,$fs-18,$c-placeholder)
    &__btn 
        cursor: pointer
        width: 260px
        height: 60px
        +text($ff-inter,$fw-bold,$fs-18,$c-white)
        background-color: $c-black
        border: none
        position: relative
        z-index: 0
        transition: all 0.2s ease
        &:hover 
            color: $c-black
            border: 2px solid $c-black
        &::before 
            content: ''
            position: absolute
            bottom: 0
            left: 0
            background-color: $c-white
            width: 100%
            height: 0
            transition: height .3s ease
            z-index: -1
        &:hover::before 
            height: 100%
.info-cont
    &__title
        +text($ff-inter, $fw-bold, $fs-28, $c-black)
        margin-bottom: 20px
    &__text
        +text($ff-inter, $fw-light, $fs-28, $c-black)


@media (max-width: 1180px) 
    .decor-line__photo
        height: 374px
@media (max-width: 1025px) 
    .main__title 
        font-size: $fs-48
@media (max-width: 900px) 
    .decor-line__photo
        display: none
@media (max-width: 850px) 
    .main__title
        font-size: $fs-36
    .main__section-title
        font-size: $fs-26
@media (max-width: 642px)
    .main__btn
        max-width: 170px
        font-size: $fs-16
@media (max-width: 620px)
    .main__header
        +flex(center, flex-start, column)
    .main__title
        margin-bottom: 20px
    .main__section-title
        margin-bottom: 25px
    .main__header
        margin-bottom: 0
    .main__info-cont:not(:last-child)
        margin-bottom: 30px
    .info-cont__title
        margin-bottom: 5px
    .main__info
        margin-top: 45px
    .info-cont__title
        font-size: $fs-18
    .info-cont__text
        font-size: $fs-18
    .main__orders-none
        font-size: $fs-36
@media (max-width: 490px)
    .main__email-input
        margin-bottom: 5px
        width: 100%
    .main__email-btn
        min-width: 100%
    .main
        margin-top: 110px


