@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Philosopher:ital,wght@1,700&display=swap')

@import "header.sass"
@import "main.sass"

* 
    margin: 0
    padding: 0
    box-sizing: border-box
::-webkit-scrollbar 
    width: 10px
::-webkit-scrollbar-thumb 
    background: #b8b8b8
    border: 2px solid #fff
    border-radius: 100px
.cont 
    max-width: 1600px
    margin: 0 auto
.main 
    min-height: 200vh