.profile-btn {
  display: none;
}

.nav__log-out {
  margin-right: 25px;
}

.arrow_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.decor-line {
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  position: relative;
}
.decor-line__photo {
  position: absolute;
  top: -70px;
  right: 0;
}

.main {
  margin-top: 150px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  min-height: 350px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  width: 100%;
}
.main__title {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #262626;
  line-height: 80%;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.main__title::after {
  display: none;
}
.main__section-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #262626;
  line-height: 80%;
}
.main__info {
  margin-top: 70px;
  position: relative;
}
.main__orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__orders-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
}
.main__orders-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  margin-top: 60px;
}
.main__orders-none-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 64px;
  color: #E0E0E0;
  margin-bottom: 50px;
}
.main__orders-none-btn {
  padding: 15px 30px;
  min-width: 260px;
}
.main__cont {
  width: 100%;
}
.main__info-cont:not(:last-child) {
  margin-bottom: 45px;
}
.main__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
  padding: 15px 15px 15px 15px;
  background-color: #f3f3f3;
  border: 1px solid #DADADA;
  height: 60px;
  outline: none;
}
.main__input::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.main__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.main__input:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.main__input::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.main__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.main__btn {
  cursor: pointer;
  width: 260px;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: #262626;
  border: none;
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main__btn:hover {
  color: #262626;
  border: 2px solid #262626;
}
.main__btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  z-index: -1;
}
.main__btn:hover::before {
  height: 100%;
}
.main__password-text {
  margin-bottom: 10px;
}
.main__password-view {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #262626;
  cursor: pointer;
}
.main__password-view:hover {
  color: #707070;
}
.main__orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__order {
  width: 100%;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__order:nth-child(odd) {
  background-color: #F3F3F3;
}
.main__order_hidden {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}
.main__order-item-info {
  max-width: 400px;
}
.main__order-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  cursor: pointer;
}
.main__order-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__order-info > *:not(:last-child), .main__order-num {
  margin-right: 40px;
}
.main__order-num {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #262626;
}
.main__order-info-name {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #606060;
}
.main__order-info-value {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #262626;
}
.main__order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__order-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__order-delete {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #262626;
  margin-right: 10px;
}
.main__order-delete:hover > .main__order-delete-line {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.main__order-delete-line {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.main__order-delete-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main__order-delete-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main__order-items {
  display: none;
}
.main__order-items_active {
  display: block;
  margin-top: 20px;
}
.main__order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 55px;
  position: relative;
}
.main__order-item > *:not(:last-child) {
  margin-right: 30px;
}
.main__order-item:not(:last-child) {
  margin-bottom: 15px;
}
.main__order-item::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 45%;
  height: 1px;
  width: 20px;
  background-color: #262626;
}
.main__order-item-photo {
  height: 100px;
}

.info-cont__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #262626;
  margin-bottom: 20px;
}
.info-cont__text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #262626;
}

@media (max-width: 1215px) {
  .main__order {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__order-main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__order-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__order-info > *:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .main__order-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1180px) {
  .decor-line__photo {
    height: 374px;
  }
}
@media (max-width: 1025px) {
  .main__title {
    font-size: 48px;
  }
}
@media (max-width: 1000px) {
  .main__order-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 900px) {
  .decor-line__photo {
    display: none;
  }
}
@media (max-width: 850px) {
  .main__title {
    font-size: 36px;
  }

  .main__orders-none-text {
    font-size: 36px;
  }

  .main__section-title {
    font-size: 26px;
  }
}
@media (max-width: 642px) {
  .decor-line-orders {
    margin-top: 25px;
  }

  .main__orders-header {
    margin-top: 35px;
  }

  .main__btn {
    max-width: 170px;
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  .main__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__title {
    margin-bottom: 20px;
  }

  .main__section-title {
    margin-bottom: 25px;
  }

  .main__header {
    margin-bottom: 0;
  }

  .main__info-cont:not(:last-child) {
    margin-bottom: 30px;
  }

  .info-cont__title {
    margin-bottom: 5px;
  }

  .main__info {
    margin-top: 45px;
  }

  .info-cont__title {
    font-size: 18px;
  }

  .info-cont__text {
    font-size: 18px;
  }

  .main__orders-none {
    font-size: 36px;
  }

  .main__order-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__order-info-item > *:first-child {
    margin-bottom: 5px;
  }

  .main__order-info-name, .main__order-info-value {
    font-size: 18px;
  }

  .main__order-num {
    margin-right: 20px;
    font-size: 18px;
  }
}
@media (max-width: 490px) {
  .main {
    margin-top: 110px;
  }
}