@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Philosopher:ital,wght@1,700&display=swap");
.header {
  position: relative;
  background-image: url("../../images/first-screen1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__nav {
  padding-top: 26px;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  font-style: italic;
  padding-top: 175px;
}
.header__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 75px;
  width: 100%;
  cursor: pointer;
  padding: 280px 0 20px 0;
}
.header__next-bg {
  position: relative;
  min-height: 75px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__next-line {
  position: absolute;
  height: 15px;
  width: 2px;
  top: 0;
  background-color: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-animation: indicator 1.5s cubic-bezier(0.29, 0.14, 0.1, 0.68) 0.2s infinite;
          animation: indicator 1.5s cubic-bezier(0.29, 0.14, 0.1, 0.68) 0.2s infinite;
}
.header__next-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}
.header__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 26px;
  right: 160px;
}
.header__dots-item {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
.header__dots-item:not(:last-child) {
  margin-right: 33px;
}
.header__dots-item.item-active {
  background-color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  list-style-type: none;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  position: relative;
  height: 50px;
}
.nav__item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #ffffff83;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.nav__item:hover::after {
  width: 100%;
}
.nav__item:not(:last-child) {
  margin-right: 100px;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.02em;
  text-decoration: none;
  height: 100%;
}
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__profile {
  margin-right: 25px;
}

.nav_sticky {
  background-color: #262626;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 25px;
}

@-webkit-keyframes indicator {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes indicator {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}
@media (max-width: 1635px) {
  .header__title {
    font-size: 64px;
  }
}
@media (max-width: 920px) {
  .nav__list {
    display: none;
  }

  .header__dots {
    display: none;
  }
}
@media (max-width: 630px) {
  .header__title {
    font-size: 36px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border: 2px solid #fff;
  border-radius: 100px;
}

.cont {
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  min-height: 200vh;
}

@media (max-width: 1635px) {
  .cont {
    max-width: calc(100vw - 5%);
  }
}
@media (max-width: 920px) {
  .cont {
    max-width: 95%;
  }
}