@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Philosopher:ital,wght@1,700&display=swap");
.header {
  position: relative;
  background-image: url("../../images/first-screen1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background-image 0.2s ease;
  transition: background-image 0.2s ease;
}
.header__nav {
  padding-top: 26px;
  position: fixed;
  width: 100%;
  z-index: 56;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  height: 315px;
  width: 100%;
  background-color: #262626;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-315px);
          transform: translateY(-315px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}
.header__burger-item:not(:last-child) {
  margin-bottom: 25px;
}
.header__burger-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__burger-menu.active-menu-burger {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.header__burger-menu .nav__profile {
  margin-right: 0;
}
.header__burger-profile {
  margin-bottom: 50px;
}
.header__title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  font-style: italic;
  padding-top: 175px;
}
.header__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 75px;
  width: 100%;
  cursor: pointer;
  padding: 280px 0 20px 0;
}
.header__next-bg {
  position: relative;
  min-height: 75px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__next-line {
  position: absolute;
  height: 15px;
  width: 2px;
  top: 0;
  background-color: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-animation: indicator 1.5s cubic-bezier(0.29, 0.14, 0.1, 0.68) 0.2s infinite;
          animation: indicator 1.5s cubic-bezier(0.29, 0.14, 0.1, 0.68) 0.2s infinite;
}
.header__next-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}
.header__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 26px;
  right: 160px;
}
.header__dots-item {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
.header__dots-item:not(:last-child) {
  margin-right: 33px;
}
.header__dots-item.item-active {
  background-color: #fff;
}

.profile-btn, .shop-cart-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.nav__burger {
  position: relative;
  cursor: pointer;
  display: none;
  height: 25px;
  width: 30px;
  margin-right: 25px;
}
.nav__burger-line {
  background-color: #fff;
  height: 2px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.nav__burger-line:nth-child(1) {
  width: 100%;
  top: 0;
}
.nav__burger-line:nth-child(2) {
  width: 60%;
  top: 8.3px;
}
.nav__burger-line:nth-child(3) {
  width: 20%;
  top: 16.6px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  list-style-type: none;
}
.nav__item, .nav .header__burger-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  position: relative;
  height: 50px;
}
.nav__item::after, .nav .header__burger-item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #ffffff83;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.nav__item:hover::after, .nav .header__burger-item:hover::after {
  width: 100%;
}
.nav__item:not(:last-child) {
  margin-right: 100px;
}
.nav__link, .nav .header__burger-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.02em;
  text-decoration: none;
  height: 100%;
}
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__profile {
  margin-right: 25px;
}

.nav_sticky {
  background-color: #262626;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 25px;
}

.nav__burger.active-burger .nav__burger-line:nth-child(1),
.nav__burger.active-burger .nav__burger-line:nth-child(2),
.nav__burger.active-burger .nav__burger-line:nth-child(3) {
  width: 100%;
  top: 8.3px;
}

.nav__burger.active-burger .nav__burger-line:nth-child(2) {
  display: none;
}

.nav__burger.active-burger .nav__burger-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__burger.active-burger .nav__burger-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes indicator {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes indicator {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}
@media (max-width: 1635px) {
  .header__title {
    font-size: 64px;
    width: 1400px;
  }
}
@media (min-width: 921px) {
  .header__burger-menu.active-menu-burger {
    -webkit-transform: translateY(-315px);
            transform: translateY(-315px);
  }
}
@media (max-width: 920px) {
  .nav__list, .nav__btns .nav__profile, .nav__btns .nav__shop-cart {
    display: none;
  }

  .nav__burger {
    display: block;
  }

  .header__dots {
    display: none;
  }
}
@media (max-width: 630px) {
  .header__title {
    font-size: 36px;
  }
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #262626;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 135px;
  position: relative;
  width: 320px;
}
.main__title::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 80px;
  width: 50%;
  height: 1.5px;
  background-color: #262626;
}
.main__gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 653px, 544px, 703px;
  grid-template-columns: 653px, 544px, 703px;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(9, 1fr);
      grid-template-areas: "a d g" "a d g" "a e g" "a e g" "b e h" "b f h" "c f h" "c f h" "c f h";
}
.main__img {
  height: 100%;
  width: 100%;
}
.main__img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  grid-area: a;
}
.main__img:nth-child(2) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: b;
}
.main__img:nth-child(3) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: c;
}
.main__img:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: d;
}
.main__img:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  grid-area: e;
}
.main__img:nth-child(6) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 7;
  -ms-grid-column: 3;
  grid-area: f;
}
.main__img:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 5;
  grid-area: g;
}
.main__img:nth-child(8) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 9;
  -ms-grid-column: 5;
  grid-area: h;
}

@media (max-width: 760px) {
  .main__title {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .main__title::after {
    width: 20%;
    bottom: -20px;
    left: 130px;
  }

  .main__gallery {
    grid-gap: 5px;
  }
}
.new-collection__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  margin-top: 123px;
}
.new-collection__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.new-collection__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #262626;
  margin-bottom: 15px;
}
.new-collection__descr {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #262626;
}
.new-collection__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.new-collection__img {
  width: 100%;
  margin-top: 90px;
}

.timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #262626;
  height: 160px;
  width: 155px;
}
.timer__item > *:first-child {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  aling-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
.timer__item > *:nth-child(2) {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #262626;
  position: absolute;
  bottom: -40px;
}
.timer__item:not(:first-child, :last-child) {
  border-right: 1px solid #fff;
}
.timer__item:first-child {
  margin-right: 75px;
}

@media (max-width: 1150px) {
  .new-collection__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .new-collection__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .new-collection__descr {
    margin-bottom: 25px;
  }

  .new-collection__timer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .new-collection__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 750px) {
  .new-collection__header {
    margin-top: 50px;
  }

  .new-collection__title {
    font-size: 28px;
  }

  .new-collection__descr {
    font-size: 22px;
  }

  .timer__item {
    height: 85px;
    width: 85px;
  }

  .timer__item > *:first-child {
    font-size: 18px;
  }

  .timer__item > *:nth-child(2) {
    font-size: 16px;
  }

  .timer__item:first-child {
    margin-right: 20px;
  }
}
@media (max-width: 385px) {
  .timer__item:first-child {
    margin-right: 5px;
  }
}
.modal-window {
  position: fixed;
  top: -1080px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 55;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.modal-window__close {
  position: absolute;
  right: 50px;
  top: 50px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-window__close-line {
  background-color: #262626;
  height: 3px;
  width: 50px;
  position: absolute;
}
.modal-window__close-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-window__close-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-window__img-section {
  position: relative;
}
.modal-window__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.modal-window__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -326px;
  margin-top: -62.13px;
  height: 124.27px;
  width: 654px;
}
.modal-window__reg, .modal-window__auth {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.modal-window__reg {
  display: none;
}
.modal-window__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window__form {
  max-width: 531px;
}
.modal-window__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #262626;
  margin-bottom: 72px;
}
.modal-window__inputs-list {
  margin-bottom: 120px;
}
.modal-window__input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window__input-cont:not(:last-child) {
  margin-bottom: 50px;
}
.modal-window__label {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #262626;
  margin-bottom: 10px;
}
.modal-window__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #262626;
  padding: 20px 20px 20px 20px;
  background-color: #f3f3f3;
  border: 1px solid #DADADA;
  width: 100%;
  outline: none;
}
.modal-window__input::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #e0e0e0;
}
.modal-window__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #e0e0e0;
}
.modal-window__input:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #e0e0e0;
}
.modal-window__input::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #e0e0e0;
}
.modal-window__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #e0e0e0;
}
.modal-window__input:focus {
  border: 2px solid #262626;
}
.modal-window__form-btn {
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  background-color: #262626;
  border: none;
  position: relative;
  margin-bottom: 25px;
  z-index: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-window__form-btn:hover {
  color: #262626;
  border: 2px solid #000;
}
.modal-window__form-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  z-index: -1;
}
.modal-window__form-btn:hover::before {
  height: 100%;
}
.modal-window__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}
.modal-window__reg-btn, .modal-window__auth-btn {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #262626;
  background-color: transparent;
  border: none;
}

@media (max-width: 1290px) {
  .modal-window__reg, .modal-window__auth {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .modal-window__img-section {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border: 2px solid #fff;
  border-radius: 100px;
}

.cont {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1635px) {
  .cont {
    max-width: calc(100vw - 5%);
  }
}
@media (max-width: 920px) {
  .cont {
    max-width: 95%;
  }
}